:where(html) {
  --submenu-item-text:   var(--menu-item-text);
  --submenu-item-back:   var(--grey-100);
  --submenu-hover-text:  var(--brand-10);
  --submenu-hover-back:  var(--grey20-95);
  --submenu-active-text: var(--brand-0);
  --submenu-active-back: var(--grey40-100);
  --submenu-back:        var(--grey-85);
  // footer
  --footer-back:        var(--brand-10);
  --footer-text:        var(--grey20-60);
  --footer-border:      var(--brand-20);
  --footer-link:        var(--grey40-70);
  --footer-hover:       var(--grey40-90);
  // section
  --section-underline:var(--grey-80);
}

#{$dark-theme} {
  --body-back:        var(--grey20-0);
  --body-text:        var(--grey20-80);
  --bold-text:        var(--grey20-90);
  --head-text:        var(--grey20-90);
  --link-text:        var(--brand-60);
  --link-hover:       var(--brand-70);
  --side-shadow:      rgba(0, 0, 0, 0.2);
  --top-shadow:       rgba(0, 0, 0, 0.15);
  // header
  --header-back:      var(--brand-20);
  --header-text:      var(--grey20-60);
  --header-link:      var(--grey20-70);
  --header-hover:     var(--brand-95);
  --header-border:    var(--brand-0);

  // app
  --app-back:         var(--grey-0);
  --main-back:        var(--grey-15);
  --side-back:        var(--grey-10);
  --side-border:      var(--grey-30);
  // sidebar menu
  --menu-head:        var(--grey-70);
  --menu-head-hover:  var(--grey-90);
  --menu-item-text:   var(--grey-60);
  --menu-item-back:   var(--grey-15);
  --menu-hover-text:  var(--grey-70);
  --menu-hover-back:  var(--grey-20);
  --menu-active-text: var(--grey-100);
  --menu-active-back: var(--grey-25);
  --submenu-back:     var(--grey-10);
  // footer
  --footer-back:      var(--brand-5);
  --footer-text:      var(--grey20-45);
  --footer-border:    var(--brand-0);
  // section
  --section-underline:var(--grey-25);
}