@import "alert.scss";
@import "datatable.scss";
@import "details.scss";
@import "dropdown.scss";
// @import "icon.scss";
@import "menu.scss";
@import "pager.scss";
@import "search.scss";
@import "select.scss";
@import "sortable.scss";
@import "tiles.scss";

XXXbutton {
  .icon.on-left {
    text-align: right;
    margin-left: -0.25em;
  }
  .icon.on-right {
    text-align: right;
    margin-right: -0.25em;
  }
}