section.datatable {
  --header-icon-color: var(--brand-30);
  --header-icon-opacity: 0.2;
  --header-icon-hover-opacity: 0.5;
  --header-size: 0.875em;
  --sorting-shade-1: var(--color-95);
  --sorting-shade-2: var(--color-90);
  --sorting-shade-3: var(--color-80);
  --sorting-shade-4: var(--color-75);
  & > header {
    .controls {
      .filtering.trigger path {
        fill: var(--brand-75);
      }
      .trigger:hover {
        cursor: pointer;
        path, rect {
          fill: var(--brand-85);
        }
      }
    }
    margin-bottom: 0.5rem;
  }
  & > footer {
    margin-top: 0.5rem;
  }
  & table {
    overflow: visible;
    thead {
      font-size: var(--header-size);
    }
    thead th.heading {
      cursor: pointer;
      .sort-icon, .filter-icon {
        opacity: var(--header-icon-opacity);
        transition: 0.3s opacity;
        color: var(--header-icon-color);
      }
      &:hover {
        background-color: var(--sorting-shade-4);
        .sort-icon {
          opacity: var(--header-icon-hover-opacity);
        }
      }
      &.sorting {
        background-color: var(--sorting-shade-3);
        .sort-icon {
          opacity: 1;
        }
      }
      &.text-right .flex {
        flex-direction: row-reverse;
      }
      &.text-center .flex {
        padding-left: 1em;
      }
    }
    thead tr.filters {
      th {
        padding: 2px 4px 2px 2px;
        font-weight: normal;
        svg.icon {
          color: var(--header-icon-color);
          opacity: var(--header-icon-opacity);
        }
        &.filtering svg.icon {
          opacity: var(--header-icon-hover-opacity);
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    tbody tr td.sorting {
      --background-color: var(--sorting-shade-1);
    }
    &.striped tbody tr:nth-child(even) td.sorting {
      --background-color: var(--sorting-shade-2);
    }
  }
  .columns.menu {
    .icons {
      display: inline-grid;
    }
    .item:hover label {
      color: var(--active-color); // !important;
      transition: color 0.1s;
    }
  }
}

#{$dark-theme} section.datatable {
  --header-icon-color: var(--brand-70);
  --sorting-shade-1: var(--color-10);
  --sorting-shade-2: var(--color-15);
  --sorting-shade-3: var(--color-20);
  --sorting-shade-4: var(--color-25);
}