:where(.dropdown .menu) {
  --menu-margin: 0.5em;
  --max-height: 50vh;
}

.search {
  position: relative;
  overflow: visible;
  .menu {
    position: absolute;
    display: block;
    top: calc(100% + var(--menu-margin));
    left: 0;
    right: 0;
    overflow-y: scroll;
    max-height: var(--max-height);
    box-shadow: var(--shadow-2);
  }
}