// TODO: move upstream to Badger CSS (currently in svg.icon)

:where(html) {
  --icon-margin:      0.5em;
  --icon-pull:        -0.125em;
}

svg.icon {
  &.on-left {
    margin-left: var(--icon-pull);
    margin-right: var(--icon-margin);
  }
  &.on-right {
    margin-left: var(--icon-margin);
    margin-right: var(--icon-pull);
  }
}
// Moving up...
.icons {
  overflow: visible;
  box-sizing: content-box;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  vertical-align: -.125em;
  text-align: center;
}