// NOTE: this is being moved upstream to badger-css
:where(.menu) {
  --select-background: var(--brand-40);
}
:where(#{$dark-theme} .menu) {
  --select-background: var(--brand-30);
}

.menu {
  .item.active.selected {
    animation: selection 0.3s;
    @keyframes selection {
      0%, 100% {
        background-color: var(--active-background);
      }
      50% {
        background-color: var(--select-background);
      }
    }
  }
}

