// Temporary hack to update values in badger-css (which will be updated soon)
.range {
  --position: 0.5;
  --accent-color: var(--input-accent-color, var(--brand-50));
  --track-background: var(--brand-85);
  --track-border: var(--brand-70);
  --track-fill: var(--brand-50);
  --shadow-color: color-mix(in srgb, var(--accent-color), black 40%);
  --shadow-focus-color: color-mix(in srgb, var(--accent-color), transparent 70%);
  --step-color: var(--brand-50);
  --step-background: var(--brand-90);
  --step-hover-color: var(--brand-30);
  --step-hover-background: var(--brand-80);
  --step-disabled-color: var(--grey-70);
  --step-disabled-background: var(--grey-95);
  --tick-color: var(--track-border);
  --value-color: var(--grey-20);
  --limit-color: var(--grey-40);
}
#{$dark-theme} .range {
  --track-background: var(--brand-15);
  --track-border: var(--brand-35);
  --track-fill: var(--brand-50);
  --shadow-color: color-mix(in srgb, var(--accent-color), white 40%);
  --shadow-focus-color: color-mix(in srgb, var(--accent-color), transparent 55%);
  --step-color: var(--brand-60);
  --step-background: var(--brand-15);
  --step-hover-color: var(--brand-70);
  --step-hover-background: var(--brand-25);
  --step-disabled-color: var(--grey-30);
  --step-disabled-background: var(--grey-5);
  --value-color: var(--grey-80);
}

.range {
  --track-border-width: 1px;
  --track-height: calc(0.5em + var(--track-border-width) * 2);
  --track-half: calc(var(--track-height) / 2);
  --selection-border-offset: calc(0px - var(--track-border-width));
  --thumb-size: calc(1em + var(--track-border-width) * 2);
  --thumb-size: 1.25em;
  --thumb-half: calc(var(--thumb-size) / 2);
  --thumb-opacity: 1;
  --track-offset: 0px;
  // --thumbs-offset: calc(var(--thumb-half) - var(--track-offset));
  --thumbs-offset: calc(var(--thumb-half) - var(--track-border-width));
  // --selection-offset: var(--thumbs-offset);
  --thumb-background: var(--track-fill);
  --shadow-size: 0px;
  --shadow-focus-size: 8px;
  --z-index: 100;
  --percent: 50%;
  --min-percent: 0%;
  --max-percent: 100%;
  --steps: 1;
  --ticks-offset: calc(var(--thumbs-offset) + var(--track-border-width));
  --tick-length: 4px;
  --tick-width: 1px;
  --tick-radius: 1px;
  --tick-offset: calc(0px - var(--tick-length));
  --value-size: var(--size-medium);
  --limit-size: var(--size-smaller);
  // box-sizing: content-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
  // border: 1px dashed red;
  .range-slider {
    width: 100%;
    height: 1em;
    position: relative;
    // background-color: var(--background-color);
    // border: var(--border-width) solid var(--border-color);
    // border-radius: 0.5em;
    // border: 1px solid red;
    // border: 1px dashed green;
  }
  .range-track {
    cursor: pointer;
    position: absolute;
    left: var(--track-offset);
    right: var(--track-offset);
    top: 50%;
    transform: translateY(-50%);
    height: var(--track-height);
    border-radius: var(--track-half);
    border: var(--track-border-width) solid var(--track-border);
    background-color: var(--track-background);
    overflow: visible;
    .range-selection {
      position: absolute;
      top: var(--selection-border-offset);
      bottom: var(--selection-border-offset);
      left: var(--selection-border-offset);
      width: calc(var(--percent) + var(--thumb-size) * (1 - var(--position)));
      border-color: var(--track-fill);
      border-radius: var(--track-half);
      background-color: var(--track-fill);
    }
    .range-thumbs {
      position: absolute;
      left: var(--thumbs-offset);
      right: var(--thumbs-offset);
      top: 0px;
      bottom: 0px;
    }
  }
  .range-thumb {
    // --translate-x: calc(0px - var(--thumb-half));
    // transform: translate(var(--translate-x), -50%);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width:  var(--thumb-size);
    height: var(--thumb-size);
    border-radius: var(--thumb-half);
    box-shadow: 0 0 0 var(--shadow-size) var(--shadow-color);
    transition: box-shadow 300ms, opacity 300ms;
    background-color: var(--thumb-background);
    opacity: var(--thumb-opacity);
    left: var(--percent);
    // left: calc(var(--percent) + var(--thumbs-offset));
    // left: calc(var(--percent) + var(--normal)var(--thumbs-offset));
    &:hover, &:focus, &.dragging {
      outline: none;
      opacity: 1;
      --shadow-size: var(--shadow-focus-size);
      --shadow-color: var(--shadow-focus-color);
    }
  }
  .range-ticks {
    position: absolute;
    top: var(--tick-offset);
    bottom: var(--tick-offset);
    // left: var(--track-offset);
    // right: var(--track-offset);
    left: var(--ticks-offset);
    right: var(--ticks-offset);
    // padding: 0 var(--track-offset);
    display: flex;
    justify-content: space-between;
    .range-tick {
      height: 100%;
      width: var(--tick-width);
      background-color: var(--tick-color);
      border-radius: var(--tick-radius);
      // content: "";
    }
  }
  .range-limits {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1;
    user-select: none;
    // font-size: var(--size-small);
    .range-limit {
      font-size: var(--limit-size);
      color: var(--limit-color);
    }
  }
  .range-input {
    width: 100%;
    text-align: center;
    input {
      text-align: center;
    }
    .disabled {
      color: var(--step-disabled-color);
      background-color: var(--step-disabled-background);
    }
    .clickable {
      color: var(--step-color);
      background-color: var(--step-background);
      &:hover {
        color: var(--step-hover-color);
        background-color: var(--step-hover-background);
        cursor: pointer;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      margin: 0;
      appearance:none;
      -webkit-appearance: none;
    }
    input[type=number] {
      appearance:textfield;
      -moz-appearance:textfield;
    }
  }
  .range-output {
    width: 100%;
    min-height: 1.5em;
    position: relative;
    .range-value {
      position: absolute;
      line-height: 1;
      font-size: var(--value-size);
      color: var(--value-color);
      // bottom: 0.25em;
      bottom: 0;
      &.thumb {
        left: var(--percent);
        transform: translateX(calc(0% - var(--percent)))
      }
      &.center {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
